* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container-page {
    height: 100vh;
    background-color: rgb(150, 126, 161);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

form {
    background-color: rgb(190, 184, 184);
    width: 500px;
    height: 450px;
    border-radius: 10px;
    padding: 20px;    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


form input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

form #ajouter {
    width: 300px;
    height: 45px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

a:hover {
    transform: scale(1.2);
}